{{#extend "layout"}}

{{#replace "body"}}

<div class="container">
  <div class="files-browser">
    <div class="row">
      <div class="col-xs-12">
        <h1 id="name">{{folder.name}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div id="folders">
          <ul>
            {{#each folder.children.folders}}
              <li>
                {{#if _id}}
                  <a href="/folder/{{_id}}?includeParent=true">{{name}}</a>
                {{else}}
                  <a href="/folders">{{name}}</a>
                {{/if}}
                {{#permissions.write}}
                  <span class="pull-right">
                    <a href="/folder/edit/{{_id}}"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="/folder/remove/{{_id}}"><span class="glyphicon glyphicon-trash"></span></a>
                  </span>
                {{/permissions.write}}
              </li>
            {{/each}}
          </ul>
          {{#if folder.permissions.you.create}}
            <a id="newFolderButton" class="btn btn-default" href="/folder/add/{{folder._id}}">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
          {{/if}}
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <div id="files">
          <ul>
            {{#each folder.children.files}}
              <li>
                <a href="/file/view/{{_id}}">{{name}}</a>
                <span class="pull-right">
                <a href="/file/download/{{_id}}"><span class="glyphicon glyphicon-download"></span></a>
                  {{#permissions.write}}
                    <a href="/file/edit/{{_id}}"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="/file/remove/{{_id}}"><span class="glyphicon glyphicon-trash"></span></a>
                  {{/permissions.write}}
                </span>
              </li>
            {{/each}}
          </ul>
          {{#if folder.permissions.you.create}}
            <a id="newFileButton" class="btn btn-default" href="/file/add/{{folder._id}}">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

{{/replace}}

{{/extend}}