<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/favicon.png" />

    {{#block "title"}}
      <title>{{env.name}}</title>
    {{/block}}

    {{#block "styles"}}
      <link rel="stylesheet" type="text/css" href="/css/app.css">
      <link href="/css/bootstrap.css" rel="stylesheet" />
    {{/block}}

    {{#block "meta"}}
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {{/block}}

  </head>
  <body>
    {{#block "top"}}
      <div class="container-fluid">
        {{#if user}}
          Welcome {{user.firstName}} {{user.lastName}}! <a href="/logout">Logout</a>
        {{else}}
          <a href="/login" id="login">Login</a>
        {{/if}}
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            {{#flash}}
              {{#if info}}
                <div class="alert alert-info">
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <p>{{info}}</p>
                </div>
              {{/if}}
              {{#if warn}}
                <div class="alert alert-warn">
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <p>{{warn}}</p>
                </div>
              {{/if}}
              {{#if error}}
                <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <p>{{error}}</p>
                </div>
              {{/if}}
            {{/flash}}
          </div>
        </div>
      </div>

    {{/block}}

    {{#block "body"}}
    {{/block}}

    {{#block "scripts"}}
      <script type="text/javascript" src="/js/jquery.js"></script>
      <script src="/js/bootstrap.js"></script>
      <script src="/js/trails.min.js"></script>
    {{/block}}
  </body>
</html>